BlizzardError.exe
Data/
Screenshots/
.agent.db
.build.info
.curseclient
.patch.result
Cache/
Errors/
Launcher.db
Logs/
Utils/
Wow.mfil
WoW.mfil
World of Warcraft Launcher.app/
World of Warcraft.app/

